<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <div class="container">
    <form action="/resultados" method="post">
      <input type="text" name="director" placeholder="Enter director name">
      <input type="submit" value="Search">
    </form>
    {% for pelicula in peliculas_list %}
      <div class="movie">
        <div class="title">{{ pelicula.titulo }}</div>
        <div class="year">{{ pelicula.year }}</div>
        <div class="director">Directed by {{ pelicula.director }}</div>
      </div>
    {% endfor %}
  </div>

  


      
</body>
</html>