<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <title>Resultados</title>
</head>


<body>
  <div class="container">
    <h1>Movies directed by {{ director }}</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Year</th>
      </tr>
      {% for pelicula in resultados %}
        <tr>
          <td>{{ pelicula.titulo }}</td>
          <td>{{ pelicula.year }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>